<?php
$connectionParams = array(
    'dbname' => '---WRITE DBNAME---',
    'user' => '---WRITE USERNAME---',
    'password' => '---WRITE SECRET---',
    'host' => '---WRITE HOST---',
    'driver' => 'pdo_mysql',
);
